<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:fragment="bootstrap">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    </th:block>
</head>

<body>
    <th:block th:fragment="scripts">
        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </th:block>

    <th:block th:fragment="pizzasButton">
        <a th:href="@{/pizzas}" class="btn btn-light border border-black">
            Pizzas
        </a>
    </th:block>

</body>

</html>