<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:replace="~{ fragments :: bootstrap}">
    <title>Pizzas Show</title>
</head>

<body>
    <div class="mt-3 ms-5">
        <link th:replace="~{ fragments :: pizzasButton}">
    </div>

    <div class="container mt-3 p-2 border border-solid border-black">

        <h1 class="text-center">[[${pizza.name}]] : [[${pizza.price}]]$</h1>
        <br>
        <p scope="col" class="text-center fs-4">[[${pizza.description}]]</p>

    </div>
</body>
<link th:replace="~{ fragments :: scripts}">

</html>